In [1]:
import pandas as pd
import numpy as np

In [2]:
def clean_data(merged_df, path, renamed_column, quad=False):
    df = pd.read_csv(f'../inputs_extended/{path}.csv', delimiter=',')[['LOCATION', 'TIME', 'Value']]
    if quad: 
        df['TIME'] = df['TIME'].str.slice(0,4).astype('int64')
        
    df.drop_duplicates(subset=['LOCATION', 'TIME'], keep='first', inplace=True)
    df_final = pd.merge(merged_df, df, on=['LOCATION', 'TIME'], how="outer")
    df_final.rename(columns={'Value': renamed_column}, inplace=True)
    df_final = df_final.dropna(thresh=9).reset_index(drop=True)
    df_final.reset_index(drop=True, inplace=True)
    return df_final

In [3]:
#main dataframe
main_df = pd.read_excel('../inputs_extended/happiness.xls')
main_df.drop(labels=[
    'Healthy life expectancy at birth',
    'Generosity',
    'Positive affect',
    'Negative affect',
    ], axis=1, inplace=True)
main_df.rename(columns={'year': 'TIME'}, inplace=True)

In [4]:
# merge with country codes
df = pd.read_csv('../inputs_extended/codes.csv', delimiter=',')[['English short name lower case', 'Alpha-3 code']]
df.rename(columns={'Alpha-3 code': 'LOCATION', 'English short name lower case': 'Country name'}, inplace=True)
df_v1 = pd.merge(main_df, df, on=['Country name'], how="outer").dropna(thresh=4)
df_v1 = df_v1.dropna().reset_index(drop=True)

In [5]:
# inflation
df_v2 = clean_data(df_v1, 'inflation', 'Inflation rate', True)
df_v2 = df_v2.dropna(thresh=9).reset_index(drop=True)
df_v2

,Country name,TIME,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,LOCATION,Inflation rate
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082
...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787

In [6]:
# adult education
df_v3 = clean_data(df_v2, 'adult-education', 'Adult education')
df_v3

,Country name,TIME,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,LOCATION,Inflation rate,Adult education
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600,17.488495
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230,31.336042
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310,NaN
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090,NaN
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968
...,...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728,9.852750
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950,9.189871
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787,8.277081

In [7]:
# housing prices
df_v4 = clean_data(df_v3, 'housing-prices', 'Housing prices', True)
df_v4

,Country name,TIME,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,LOCATION,Inflation rate,Adult education,Housing prices
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600,17.488495,NaN
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230,31.336042,NaN
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310,NaN,NaN
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090,NaN,NaN
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968,56.664750
...,...,...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728,9.852750,105.637315
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493,112.170681
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164,119.143333
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950,9.189871,125.207117
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787,8.277081,135.045036

In [8]:
# adult education
df_v5 = clean_data(df_v4, 'trust-in-gov', 'Trust in government')
df_v5

,Country name,TIME,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,LOCATION,Inflation rate,Adult education,Housing prices,Trust in government
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600,17.488495,NaN,NaN
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230,31.336042,NaN,NaN
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310,NaN,NaN,NaN
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090,NaN,NaN,NaN
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968,56.664750,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728,9.852750,105.637315,29.720566
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493,112.170681,38.653502
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164,119.143333,31.381609
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950,9.189871,125.207117,36.277444
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787,8.277081,135.045036,46.491709

In [9]:
# Dataframe check
print(f"""
{df_v5['Inflation rate'].isna().sum()}
{df_v5['Adult education'].isna().sum()}
{df_v5['Housing prices'].isna().sum()}
{df_v5['Trust in government'].isna().sum()}
""")
df_v5

0
52
11
160

,Country name,TIME,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,LOCATION,Inflation rate,Adult education,Housing prices,Trust in government
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600,17.488495,NaN,NaN
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230,31.336042,NaN,NaN
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310,NaN,NaN,NaN
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090,NaN,NaN,NaN
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968,56.664750,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728,9.852750,105.637315,29.720566
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493,112.170681,38.653502
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164,119.143333,31.381609
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950,9.189871,125.207117,36.277444
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787,8.277081,135.045036,46.491709

In [10]:
# adult education
df_v6 = clean_data(df_v5, 'self-employment', 'Self-employment rate')

In [11]:
# poverty rates
df_v7 = clean_data(df_v6, 'poverty', 'Poverty rate')

In [12]:
# adult education
df_v8 = clean_data(df_v7, 'unemployed-youth', 'Unemployed youth rate')
#df_v8 = df_v8.dropna(thresh=14).reset_index(drop=True)
df_v8

,Country name,TIME,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,LOCATION,Inflation rate,Adult education,Housing prices,Trust in government,Self-employment rate,Poverty rate,Unemployed youth rate
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600,17.488495,NaN,NaN,NaN,NaN,NaN
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230,31.336042,NaN,NaN,NaN,NaN,14.076767
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090,NaN,NaN,NaN,NaN,NaN,NaN
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968,56.664750,NaN,15.021580,NaN,7.393906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728,9.852750,105.637315,29.720566,7.466977,0.209,8.533521
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493,112.170681,38.653502,7.109162,0.212,7.455460
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164,119.143333,31.381609,7.262526,0.211,7.458875
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950,9.189871,125.207117,36.277444,6.994946,0.210,7.903465
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787,8.277081,135.045036,46.491709,7.046813,NaN,7.699012

In [13]:
df_v8.rename(columns={'TIME': 'Year', 'LOCATION': 'Country code'}, inplace=True)
df_v8

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,Country code,Inflation rate,Adult education,Housing prices,Trust in government,Self-employment rate,Poverty rate,Unemployed youth rate
0,Argentina,2017.0,6.039330,10.067430,0.906699,0.831966,0.841052,ARG,24.795600,17.488495,NaN,NaN,NaN,NaN,NaN
1,Argentina,2018.0,5.792797,10.032141,0.899912,0.845895,0.855255,ARG,34.277230,31.336042,NaN,NaN,NaN,NaN,14.076767
2,Argentina,2019.0,6.085561,10.000340,0.896371,0.817053,0.830460,ARG,53.548310,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,2020.0,5.900567,9.850450,0.897104,0.823392,0.815780,ARG,42.015090,NaN,NaN,NaN,NaN,NaN,NaN
4,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968,56.664750,NaN,15.021580,NaN,7.393906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,United States,2016.0,6.803600,10.985777,0.896751,0.757893,0.738920,USA,-6.584728,9.852750,105.637315,29.720566,7.466977,0.209,8.533521
582,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493,112.170681,38.653502,7.109162,0.212,7.455460
583,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164,119.143333,31.381609,7.262526,0.211,7.458875
584,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.112950,9.189871,125.207117,36.277444,6.994946,0.210,7.903465
585,United States,2020.0,7.028088,11.000656,0.937370,0.850447,0.678125,USA,-8.520787,8.277081,135.045036,46.491709,7.046813,NaN,7.699012

In [14]:
df = df_v8.copy()

In [15]:
countries = df['Country name'].unique()
cols = df.columns.values.tolist()
df_v9 = pd.DataFrame(columns=cols)

# fill the NaN values with latest available value in the column for the country
for country in countries:
    temp_df = df.loc[df['Country name'] == country]
    rows = len(temp_df)
    temp_df = temp_df.loc[:, cols].ffill()
    temp_df = temp_df.loc[:, cols].bfill()
    df_v9 = pd.concat([df_v9, temp_df])

# discard countries that did not hold anything in more than 4 added categories 
# fyi: 8 cols are filled for sure for each country by default, dictated by the base dataset
df_v9.dropna(thresh=12, inplace=True)
df_v9.reset_index(drop=True, inplace=True)
display(df_v9)

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Freedom to make life choices,Perceptions of corruption,Country code,Inflation rate,Adult education,Housing prices,Trust in government,Self-employment rate,Poverty rate,Unemployed youth rate
0,Australia,2005.0,7.340688,10.658608,0.967892,0.934973,0.390416,AUS,9.712082,34.967968,56.66475,60.975292,15.02158,0.129,7.393906
1,Australia,2007.0,7.285391,10.702894,0.965276,0.890682,0.512578,AUS,1.405548,31.816732,66.96025,60.975292,14.08298,0.129,6.48775
2,Australia,2008.0,7.253757,10.71878,0.946635,0.915733,0.430811,AUS,12.48946,30.064018,69.60275,60.975292,13.71566,0.129,6.310053
3,Australia,2010.0,7.450047,10.722262,0.95452,0.932059,0.366127,AUS,8.5486,26.792744,80.877,60.975292,13.77405,0.129,8.059968
4,Australia,2011.0,7.405616,10.732697,0.967029,0.944586,0.381772,AUS,10.98091,25.922543,79.13475,53.078672,13.2206,0.129,7.839816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,United States,2016.0,6.8036,10.985777,0.896751,0.757893,0.73892,USA,-6.584728,9.85275,105.637315,29.720566,7.466977,0.209,8.533521
562,United States,2017.0,6.991759,11.001395,0.921003,0.868497,0.681191,USA,7.916659,9.354493,112.170681,38.653502,7.109162,0.212,7.45546
563,United States,2018.0,6.882685,11.025024,0.903856,0.824607,0.709928,USA,7.529873,9.176164,119.143333,31.381609,7.262526,0.211,7.458875
564,United States,2019.0,6.943701,11.043353,0.916691,0.836139,0.706716,USA,-2.11295,9.189871,125.207117,36.277444,6.994946,0.21,7.903465
565,United States,2020.0,7.028088,11.000656,0.93737,0.850447,0.678125,USA,-8.520787,8.277081,135.045036,46.491709,7.046813,0.21,7.699012

In [16]:
print(f"""
{df_v9['Inflation rate'].isna().sum()}
{df_v9['Adult education'].isna().sum()}
{df_v9['Housing prices'].isna().sum()}
{df_v9['Trust in government'].isna().sum()}
{df_v9['Self-employment rate'].isna().sum()}
{df_v9['Poverty rate'].isna().sum()}
{df_v9['Unemployed youth rate'].isna().sum()}
""")

0
0
0
15
66
15
30

In [17]:
# since there is no value available in the entire column for a country, lets fill it with mean. 
# those countries may still hold valuable info for other columns so discarding them based on omne NaN value
# would be a loss of meaninful data.

# NaN values were detected for 'Self-employment rate', 'Poverty rate' and 'Unemployed youth rate'
mean_gov_trust = round(df_v9['Trust in government'].mean(), 3)
mean_self_emp=round(df_v9['Self-employment rate'].mean(), 3)
mean_poverty=round(df_v9['Poverty rate'].mean(), 3)
mean_unemp_youth=round(df_v9['Unemployed youth rate'].mean(), 3)

df_v9['Trust in government'].fillna(mean_gov_trust, inplace=True)
df_v9['Self-employment rate'].fillna(mean_self_emp, inplace=True)
df_v9['Poverty rate'].fillna(mean_poverty, inplace=True)
df_v9['Unemployed youth rate'].fillna(mean_unemp_youth, inplace=True)

In [18]:
print(f"""
{df_v9['Inflation rate'].isna().sum()}
{df_v9['Adult education'].isna().sum()}
{df_v9['Housing prices'].isna().sum()}
{df_v9['Trust in government'].isna().sum()}
{df_v9['Self-employment rate'].isna().sum()}
{df_v9['Poverty rate'].isna().sum()}
{df_v9['Unemployed youth rate'].isna().sum()}
""")

0
0
0
0
0
0
0

In [19]:
# final export
df_v9.to_csv('../cleaned_data/clean_v2_fillednans.csv', index=False)

relative povert
GDP
extend. by years(?)
quality of life in eiuropean cities