In [326]:
import pandas as pd

In [396]:
def clean_data(original_df, cvs_path, variable, year=2020):
    df = pd.read_csv(cvs_path, delimiter=',')[['Entity', 'Year',variable]]
    df = df.loc[df['Year'] == 2017]
    df.rename(columns={'Entity': 'Country'}, inplace=True)
    df_copy = original_df.copy()
    df_copy = pd.merge(df_copy, df, on='Country', how='outer').dropna(thresh=5)
    df_copy.drop(columns=['Year'], axis=1, inplace=True)
    return df_copy

In [397]:
main_df = pd.read_csv('./inputs/lifestyle.csv', delimiter=',')

#dropping all city-specific columns
main_df.drop(labels=[
    'Cost of a monthly gym membership(City)',
    'Number of take out places(City)',
    'Cost of a bottle of water(City)',
    'Sunshine hours(City)',
    'Pollution(Index score) (City)',
    'Outdoor activities(City)',
    'Rank'
    ], axis=1, inplace=True)

In [398]:
#Load countries to map capitals to countries
country_city_dt = pd.read_csv('./inputs/world-cities_csv copy.csv', delimiter=',')[['name','country']]
country_city_dt.rename(columns={"name": "City", "country": "Country"}, inplace=True)

In [399]:
#Add countries
main_df = pd.merge(main_df, country_city_dt, on='City', how='outer')

In [400]:
main_df = (main_df
    .dropna(thresh=3)
    .drop_duplicates(subset=['City'])
    .reset_index(drop=True)
)

In [401]:
# urban indicator
df_v1 = clean_data(main_df, './inputs/urban.csv', 'Urban population (% of total population)')
# press freedom indicator
df_v2 = clean_data(df_v1, './inputs/press-freedom-rsf.csv', 'Press Freedom Score', 2019)
# poverty rates
df_v3 = clean_data(df_v1, './inputs/poverty.csv', '$1.90 per day - total number of people below poverty line', 2019)

In [404]:
df_v3

,City,Obesity levels(Country),Life expectancy(years) (Country),Annual avg. hours worked,Happiness levels(Country),Country,Urban population (% of total population),$1.90 per day - total number of people below poverty line
0,Amsterdam,20.40%,81.2,1434,7.44,Netherlands,91.077,3.233810e+04
1,Sydney,29.00%,82.1,1712,7.22,Australia,85.904,1.226363e+05
2,Melbourne,29.00%,82.1,1712,7.22,Australia,85.904,1.226363e+05
3,Vienna,20.10%,81.0,1501,7.29,Austria,58.094,2.798414e+04
4,Stockholm,20.60%,81.8,1452,7.35,Sweden,87.146,2.497829e+04
5,Copenhagen,19.70%,79.8,1380,7.64,Denmark,87.757,8.123160e+03
6,Helsinki,22.20%,80.4,1540,7.80,Finland,85.325,3.623180e+03
7,Fukuoka,4.30%,83.2,1644,5.87,Japan,91.535,9.228585e+05
8,Tokyo,4.30%,83.2,1644,5.87,Japan,91.535,9.228585e+05
9,Berlin,22.30%,80.6,1386,7.07,Germany,77.261,0.000000e+00
10,Frankfurt,22.30%,80.6,1386,7.07,Germany,77.261,0.000000e+00
11,Barcelona,23.80%,82.2,1686,6.40,Spain,80.080,3.204482e+05
12,Vancouver,29.40%,81.7,1670,7.23,Canada,81.350,9.026588e+04
13,Toronto,29.40%,81.7,1670,7.23,Canada,81.350,9.026588e+04
14,London,27.80%,80.4,1538,7.16,Canada,81.350,9.026588e+04
15,Beijing,6.20%,75.4,-,5.12,China,57.960,4.892189e+06
16,Shanghai,6.20%,75.4,-,5.12,China,57.960,4.892189e+06
17,Bangkok,10.00%,74.1,-,5.99,Thailand,49.200,2.065747e+04
18,Buenos Aires,28.30%,75.9,-,5.97,Argentina,91.749,NaN
19,San Francisco,36.20%,78.8,1779,6.94,Argentina,91.749,NaN
20,Madrid,23.80%,82.2,1686,6.40,Colombia,80.446,1.969911e+06
21,Jakarta,6.90%,68.5,-,5.28,Indonesia,54.659,1.179047e+07
22,Seoul,4.70%,81.3,1967,5.87,South Korea,81.503,1.164195e+05
23,Geneva,19.50%,82.6,1557,7.56,United States,82.058,4.062069e+06
24,Los Angeles,36.20%,78.8,1779,6.94,United States,82.058,4.062069e+06
25,Chicago,36.20%,78.8,1779,6.94,United States,82.058,4.062069e+06
26,Tel Aviv,26.10%,81.9,1898,7.12,Israel,92.336,2.103344e+04
27,Istanbul,32.10%,74.7,1832,5.13,Turkey,74.644,1.124456e+05
28,Cairo,32.00%,70.7,-,4.15,Egypt,42.705,2.860944e+06
29,Taipei,6.20%,75.4,-,5.12,Taiwan,NaN,0.000000e+00
30,Mumbai,3.90%,67.3,-,3.57,India,33.600,1.412795e+08
31,Boston,36.20%,78.8,1779,6.94,United Kingdom,83.143,1.968920e+05
32,Dublin,25.30%,80.5,1772,7.09,Ireland,62.947,1.169138e+04
33,Hong Kong,6.20%,75.4,-,5.51,Hong Kong,100.000,NaN
34,Brussels,22.10%,80.4,1583,6.86,Belgium,97.961,1.682029e+04
35,Paris,21.60%,81.8,1505,6.66,France,80.180,9.110910e+03
36,Sao Paulo,22.10%,73.9,-,6.37,Brazil,86.309,9.183007e+06
37,Zurich,19.50%,82.6,1557,7.56,Switzerland,73.761,0.000000e+00
38,Johannesburg,28.30%,56.3,-,4.81,South Africa,65.850,1.085807e+07
39,Milan,19.90%,82.7,1718,6.38,Italy,70.144,8.584632e+05
40,"Washington, D.C.",36.20%,78.8,1779,6.94,NaN,NaN,NaN
41,New York,36.20%,78.8,1779,6.94,NaN,NaN,NaN
42,Moscow,23.10%,69.5,1965,5.54,Russia,74.292,6.255875e+04
43,Mexico City,28.90%,76.4,2137,6.46,Mexico,79.867,2.405692e+06

In [408]:
# share of 1-person households
df = pd.read_csv('./inputs/one-person-households.csv', delimiter=',')[['Entity', 'Year', 'Share of one person households']]
df.rename(columns={'Entity': 'Country'}, inplace=True)
df = df.groupby('Country')['Year'].max().reset_index()

df_copy = df_v3.copy()
df_copy = pd.merge(df_copy, df, on='Country', how='outer').dropna(thresh=5)
df_copy.drop(columns=['Year'], axis=1, inplace=True)

df

          Country  Year
0     Afghanistan  2015
1         Albania  2011
2          Angola  2016
3       Argentina  2010
4         Armenia  2010
..            ...   ...
151       Vietnam  2009
152  West Germany  1990
153         Yemen  2013
154        Zambia  2013
155      Zimbabwe  2015

[156 rows x 2 columns]